body {
  font-family: 'Nunito', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

#of {
  overflow: auto;
}
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.exit-btn {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: transparent;
  color: #333;
  transition: color 250ms ease-in-out, border-color 250ms ease-in-out;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.exit-btn:hover {
  color: black;
  border-color: black;
}
#result-q {
  height: 97px;
  overflow: auto;
}

#container {
  position: relative;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
}

#controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

#controls > div {
  width: calc((100% - 20px) / 2);
  margin-bottom: 10px;
}

#data-container,
#statistics-result,
#random-query-display-result {
  margin-top: 20px;
}

h2 {
  color: black;
  font-size: 24px;
  margin-bottom: 10px;
}

button {
  font-family: inherit;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}

select {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-right: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #e6e6e6;
  color: #333;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
}

@media (max-width: 768px) {
  #container {
    padding: 20px;
  }

  .divs {
    height: 100%;
  }

  .exit-btn {
    right: 8px;
    top: 8px;
  }

  #controls > div {
    width: 100%;
  }

  h2 {
    font-size: 20px;
  }

  button,
  select {
    font-size: 14px;
  }
}

body {
  margin: 20px;
}
.data-container {
  margin-top: 20px;
}

.divs {
  max-height: 450px;
}

.data-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  overflow: auto;
}
.data-details {
  display: none;
  margin-top: 10px;
}
.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
